<style>
 /* Base styles */
footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
}

.f-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Update flex-direction to column */
}

.f-info-social {
    margin-bottom: 1rem; /* Add margin bottom for spacing */
    font-size: 1.5rem;
}

.f-info-brand {
    margin-bottom: 1rem; /* Add margin bottom for spacing */
    
}

.f-info-links {
    margin-bottom: 1rem; /* Add margin bottom for spacing */
}

.f-info-links a {
    margin-right: 1rem; /* Add margin between links */
}

/* Responsive styles for mobile */
@media (max-width: 767px) {
    footer {
        padding: 2rem; /* Increase padding for better spacing */
    }

    .f-info {
        align-items: center; /* Center all items */
    }

    .f-info-brand,
    .f-info-social,
    .f-info-links {
        margin-bottom: 0.5rem; /* Adjust margin for better spacing */

    }

    .f-info-social {
        order: 2; /* Move social icons to the second line */
    }

    .f-info-links {
        order: 3; /* Move links to the third line */
    }
}

/* Responsive styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    footer {
        padding: 2rem;
    }

    .f-info {
        flex-direction: row;
        justify-content: center; /* Center items horizontally */
    }

    .f-info-brand,
    .f-info-social,
    .f-info-links {
        margin-bottom: 0; /* Remove bottom margin */
        margin-right: 1rem; /* Add right margin for spacing between items */
    }

    .f-info-links {
        margin-right: 0; /* Remove right margin for the last item */
    }
}

/* Responsive styles for laptops */
@media (min-width: 1024px) {
    footer {
        padding: 3rem;
    }
}

</style>

<footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Privet Limited</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>
